:root {
  --header-background: rgba(236, 236, 236, 1);
  --footer-text: rgba(255, 255, 255, 0.6);
  --footer-background: rgba(47, 48, 58, 1);
  --color-webstudio: rgba(33, 150, 243, 1);
  --about-us-section: rgba(255, 255, 255, 1);
  --background-team: rgba(245, 244, 250, 1);
  --text-color-article: rgba(117, 117, 117, 1);
  --span-color: rgba(0, 0, 0, 1);
  --titles-color: rgba(33, 33, 33, 1);
  --adv-item-border: rgba(238, 238, 238, 1);
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--about-us-section);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.container {
  width: 1170px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--about-us-section);
  border-bottom: 1px solid;
  border-bottom-color: var(--adv-item-border);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 93px;
}

.header-logo {
  color: var(--color-webstudio);
  font-family: var(--second-family);
  line-height: auto;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.header-logo-span {
  color: var(--span-color);
}

.header-link:hover {
  color: var(--color-webstudio);
}

.header-link {
  color: var(--titles-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: auto;
  font-size: 14px;
}

.header-info-list,
.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-info-link:hover {
  color: var(--color-webstudio);
}

.header-info-link {
  color: var(--text-color-article);
  line-height: auto;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
}


/*! HEADER END*/

.hero {
  background-color: var(--footer-background);
  background-image: url("../imgs/main-page/hero.jpg");
}

.hero-overlay {
  background-color: var(--hero-overlay);
  padding-top: 200px;
  padding-bottom: 200px;

}

.hero-container {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--about-us-section);
  padding-bottom: 30px;
}

.hero-button {
  padding: 10px 32px 10px 32px;
  background-color: var(--color-webstudio);
  color: var(--about-us-section);
  margin: 0 auto;
  border-width: 0;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 30px;
  font-size: 16px;
}


/*! HERO END */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-container {
  display: flex;
  align-items: baseline;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.benefits-title::before {
  content: '';
  background-color: var(--background-team);
  padding: 25px 100px;
  display: block;
  margin-bottom: 30px;
}

.antena::before {
  content: url("../imgs/main-page/antenna.jpg");
}

.astronaut::before {
  content: url("../imgs/main-page/astronaut.jpg");
}

.diagrama::before {
  content: url("../imgs/main-page/diagram.jpg");
}

.clock::before {
  content: url("../imgs/main-page/clock.jpg");
}

.benefits-title {
  color: var(--titles-color);
  font-weight: 700;
  line-height: auto;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.benefits-desc {
  color: var(--text-color-article);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* BENEFITS END*/

.doing {
  padding-bottom: 94px;
}

.doing-list {
  display: flex;
  gap: 30px;
}

.doing-title {
  padding-bottom: 50px;
  text-align: center;
  color: var(--titles-color);
  font-size: 36px;
  letter-spacing: 0.03em;
  line-height: auto;
  font-weight: 700;
}

.doing-img {
  width: 370px;
  height: 294px;
}

.doing,
.benefits {
  background-color: var(--about-us-section);
}

/* DOING END*/
.team {
  background-color: var(--background-team);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: auto;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team-item {
  background-color: var(--about-us-section);
  width: 270;
  height: 368px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-img {
  width: 270px;
  height: 260px;
}

.team-desc {
  color: var(--text-color-article);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: auto;
  padding-bottom: 30px;
}

.team-subtitle {
  color: var(--titles-color);
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}


/* TEAM END */

.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  color: var(--color-webstudio);
  padding-bottom: 20px;
  font-family: var(--second-family);
  line-height: auto;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.footer-logo-span {
  color: var(--about-us-section);
  font-family: var(--second-family);
  line-height: auto;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}


.footer-ddress {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-style: normal;
}

.footer-address-item {
  padding-top: 20px;
  color: var(--about-us-section);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: var(--footer-text);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* !POSTFOLIO START*/

.control {
  padding-top: 94px;
  padding-bottom: 34px;
}

.control-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.control-button {
  background-color: var(--background-team);
  color: var(--titles-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-width: 0;
  border-radius: 4px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
}

.control-button:hover {
  background-color: var(--color-webstudio);
  color: var(--about-us-section);
}


/* !ADV  START*/

.advertisements {
  padding-bottom: 94px;
}

.advertisements-container {
  display: flex;
  margin: 0 auto;
}

.advertisements-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.advertisements-item {
  background-color: var(--about-us-section);
  flex-direction: column;
  text-align: start;
  flex-basis: calc((100% - 90px) / 3);
}

.advertisements-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.advertisements-title {
  color: var(--titles-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 36px;
  padding-top: 20px;
  padding-left: 24px;
}

.advertisements-subtitle {
  color: var(--text-color-article);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.advertisements-item-container {
  border: 1px solid;
  border-color: var(--adv-item-border);
  border-top: 0;
}